<div class="block-header">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-sm-12">
				<h2>
					Müşteri Analitik Sayfası
					<small class="text-muted">Müşteriler İçin Grafikler ve Hızlı Bakış Tabloları</small>
				</h2>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-12">
				<ul class="breadcrumb float-md-right">
					<li class="breadcrumb-item"><a href="/Customer/CustomerList"><i class="zmdi zmdi-home"></i> Müşteriler</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0);">Müşteri Listesi</a></li>
					<li class="breadcrumb-item active">Ana Sayfa</li>
				</ul>
			</div>
		</div>
	</div>