<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image"> <img src="~/assets/images/xs/avatar1.jpg" width="48" height="48" alt="User" /> </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Enhar Yorulmaz</div>
            <div class="email">Admin Paneli</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MENÜ</li>
            
            <li><a href="/Dashboard/Index"><i class="zmdi zmdi-view-dashboard"></i><span>Dashboard</span> </a></li>
            <li><a href="/Category/CategoryList"><i class="zmdi zmdi-labels"></i><span>Kategoriler</span> </a></li>
            <li><a href="/Product/ProductList"><i class="zmdi zmdi-store"></i><span>Ürünler</span> </a></li>
            <li><a href="/Customer/CustomerList"><i class="zmdi zmdi-accounts"></i><span>Müşteriler</span> </a></li>
            <li><a href="/Order/OrderList"><i class="zmdi zmdi-shopping-cart"></i><span>Siparişler</span> </a></li>
            <li><a href="/Review/ReviewList"><i class="zmdi zmdi-comment-text"></i><span>Yorumlar</span> </a></li>
            <li><a href="/Statistics/NumericStatistics"><i class="zmdi zmdi-chart"></i><span>Sayısal İstatistikler</span> </a></li>
            <li><a href="/Statistics/TextualStatistics"><i class="zmdi zmdi-file-text"></i><span>Metinsel İstatistikler</span> </a></li>
            <li><a href="/CustomerAnalytics/Index"><i class="zmdi zmdi-flower-alt"></i><span>Müşteri Analitiği</span> </a></li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-trending-up"></i><span>Tahminlemeler</span> </a>
                <ul class="ml-menu">
                    <li><a href="/Forecast/PaymentMethodForecast"><i class="zmdi zmdi-trending-up"></i><span>Ödeme Yöntemleri Tahminleri</span> </a></li>
                    <li><a href="/Forecast/CitiesForecast"><i class="zmdi zmdi-city-alt" style="font-size: 14px;"></i> Ülke Bazlı Şehir Sipariş Tahmini</a></li>
                    <li><a href="/CustomerLoyalty/LoyaltyScores"><i class="zmdi zmdi-globe" style="font-size: 14px;"></i> Müşteri Sadakat Oranları</a></li>
                    <li><a href="/CustomerLoyalty/LoyaltyScoresWithMl"><i class="zmdi zmdi-globe" style="font-size: 14px;"></i> Müşteri Sadakat Oranları (ML.NET)</a></li>

                </ul>
            </li> 
        </ul>
    </div>
</aside>
