<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image"> <img src="~/assets/images/xs/avatar1.jpg" width="48" height="48" alt="User" /> </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Enhar Yorulmaz</div>
            <div class="email">Admin Paneli</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MENÜ</li>
            
            <li><a href="/Category/CategoryList"><i class="zmdi zmdi-delicious"></i><span>Kategoriler</span> </a></li>
            <li><a href="/Product/ProductList"><i class="zmdi zmdi-coffee"></i><span>Ürünler</span> </a></li>
            <li><a href="blog-dashboard.html"><i class="zmdi zmdi-blogger"></i><span>Müşteriler</span> </a></li>
            <li><a href="blog-dashboard.html"><i class="zmdi zmdi-car"></i><span>Siparişler</span> </a></li>
            <li><a href="blog-dashboard.html"><i class="zmdi zmdi-person"></i><span>İstatistikler</span> </a></li>
            <li><a href="blog-dashboard.html"><i class="zmdi zmdi-home"></i><span>Grafikler</span> </a></li>
            <li><a href="blog-dashboard.html"><i class="zmdi zmdi-blogger"></i><span>Veri Tahminleme</span> </a></li>
            
        </ul>
    </div>
    <!-- #Menu -->
</aside>
