@model SentimentAnalysisMainCoverTableDto

<div class="profile-header">
	<div class="profile_info row">
		<div class="col-lg-3 col-md-4 col-12">
			<div class="profile-image float-md-right"> <img src="@Model.CustomerImage" alt=""> </div>
		</div>
		<div class="col-lg-6 col-md-8 col-12">
			<h4 class="m-t-5 m-b-0"><strong>@Model.CustomerFullName</strong></h4>
			<span class="job_post">@Model.CustomerEmail</span>
			<p>@Model.CustomerDescription</p>
		</div>
	</div>
</div>