<div class="col-lg-4 col-md-12">

    <div class="card">
        <div class="header">
            <h2>Browser Usage</h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                    <ul class="dropdown-menu slideUp ">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body">
            <div id="donut_chart" class="dashboard-donut-chart"></div>
            <div class="table-responsive">
                <table class="table m-b-0 m-t-15">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Chrome</td>
                            <td>6985</td>
                            <td><i class="zmdi zmdi-caret-up text-success"></i></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Other</td>
                            <td>2697</td>
                            <td><i class="zmdi zmdi-caret-up text-success"></i></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Safari</td>
                            <td>3597</td>
                            <td><i class="zmdi zmdi-caret-down text-danger"></i></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Firefox</td>
                            <td>2145</td>
                            <td><i class="zmdi zmdi-caret-up text-success"></i></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Opera</td>
                            <td>1854</td>
                            <td><i class="zmdi zmdi-caret-down text-danger"></i></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>IE</td>
                            <td>54</td>
                            <td><i class="zmdi zmdi-caret-down text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>