@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">

	@await Component.InvokeAsync("_DashboardBlockHeaderComponentPartial")

	<div class="container-fluid">

		@await Component.InvokeAsync("_DashboardFirstChartsComponentPartial")

		<br />

		<div class="row clearfix">
			<div class="col-lg-9 col-md-8">
				<div class="card product-report">
					@await Component.InvokeAsync("_DashboardMainChartComponentPartial")
					@await Component.InvokeAsync("_DashboardMainChartGraphComponentPartial")
				</div>

			</div>


			@await Component.InvokeAsync("_DashboardKpiComponentPartial")

		</div>
		
		@await Component.InvokeAsync("_DashboardSubStatisticsComponentPartial")

		@await Component.InvokeAsync("_DashboardMapComponentPartial")
		<br />
		<br />

		
		<div class="row clearfix">

			@await Component.InvokeAsync("_DashboardLast5ReviewsComponentPartial")
			
			@await Component.InvokeAsync("_DashboardCriticalStockStatusProductsComponentPartial")

			@await Component.InvokeAsync("_DashboardCountryStatisticsComponentPartial")
		</div>

		@await Component.InvokeAsync("_DashboardTodayOrdersComponentPartial")

	</div>
</section>

