@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">

	@await Component.InvokeAsync("_DashboardBlockHeaderComponentPartial")

	<div class="container-fluid">

		@await Component.InvokeAsync("_DashboardFirstChartsComponentPartial")

		<br />

		<div class="row clearfix">
			<div class="col-lg-9 col-md-8">
				<div class="card product-report">
					@await Component.InvokeAsync("_DashboardMainChartComponentPartial")
					@await Component.InvokeAsync("_DashboardMainChartGraphComponentPartial")
				</div>

			</div>


			@await Component.InvokeAsync("_DashboardKpiComponentPartial")

		</div>
		
		@await Component.InvokeAsync("_DashboardSubStatisticsComponentPartial")

		@await Component.InvokeAsync("_DashboardMapComponentPartial")
		<br />
		<br />

		<div class="row clearfix">

			@await Component.InvokeAsync("_DashboardLast5ReviewsComponentPartial")
			
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card activities">
					<div class="header">
						<h2>Activities</h2>
						<ul class="header-dropdown m-r--5">
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
								<ul class="dropdown-menu slideUp ">
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
									<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="body">
						<div class="streamline b-l b-accent">
							<div class="sl-item">
								<div class="sl-content">
									<div class="text-muted-dk">Just now</div>
									<p>Finished task <a href="" class="text-info">#features 4</a>.</p>
								</div>
							</div>
							<div class="sl-item b-info">
								<div class="sl-content">
									<div class="text-muted-dk">11:30</div>
									<p><a href="">Jessi</a> retwit your post</p>
								</div>
							</div>
							<div class="sl-item b-primary b-l">
								<div class="sl-content">
									<div class="text-muted-dk">10:30</div>
									<p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
								</div>
							</div>
							<div class="sl-item b-warning">
								<div class="sl-content">
									<div class="text-muted-dk">3 days ago</div>
									<p><a href="" class="text-info">Jessi</a> commented your post.</p>
								</div>
							</div>
							<div class="sl-item b-primary b-l">
								<div class="sl-content">
									<div class="text-muted-dk">10:30</div>
									<p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
								</div>
							</div>
							<div class="sl-item b-primary b-l">
								<div class="sl-content">
									<div class="text-muted-dk">10:30</div>
									<p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
								</div>
							</div>
							<div class="sl-item b-warning">
								<div class="sl-content">
									<div class="text-muted-dk">3 days ago</div>
									<p><a href="" class="text-info">Jessi</a> commented your post.</p>
								</div>
							</div>
							<div class="sl-item b-primary b-l">
								<div class="sl-content">
									<div class="text-muted-dk">10:30</div>
									<p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
								</div>
							</div>
							<div class="sl-item b-primary b-l">
								<div class="sl-content">
									<div class="text-muted-dk">10:30</div>
									<p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="card">
					<div class="header">
						<h2>Browser Usage</h2>
						<ul class="header-dropdown m-r--5">
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
								<ul class="dropdown-menu slideUp ">
									<li><a href="javascript:void(0);">Action</a></li>
									<li><a href="javascript:void(0);">Another action</a></li>
									<li><a href="javascript:void(0);">Something else</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="body">
						<div id="donut_chart" class="dashboard-donut-chart"></div>
						<table class="table m-t-15 m-b-0">
							<tbody>
								<tr>
									<td>1</td>
									<td>Chrome</td>
									<td>6985</td>
									<td><i class="zmdi zmdi-caret-up text-success"></i></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Other</td>
									<td>2697</td>
									<td><i class="zmdi zmdi-caret-up text-success"></i></td>
								</tr>
								<tr>
									<td>3</td>
									<td>Safari</td>
									<td>3597</td>
									<td><i class="zmdi zmdi-caret-down text-danger"></i></td>
								</tr>
								<tr>
									<td>4</td>
									<td>Firefox</td>
									<td>2145</td>
									<td><i class="zmdi zmdi-caret-up text-success"></i></td>
								</tr>
								<tr>
									<td>5</td>
									<td>Opera</td>
									<td>1854</td>
									<td><i class="zmdi zmdi-caret-down text-danger"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		@await Component.InvokeAsync("_DashboardTodayOrdersComponentPartial")

	</div>
</section>