@model List<Product>

<div class="col-lg-4 col-md-6 col-sm-12">
	<div class="card activities">
		<div class="header">
			<h2>Stok Durumu Kritik Olan Ürünler</h2>
		</div>

		<div class="body">
			<div class="streamline b-l b-accent">
				@foreach (var item in Model)
				{
					<div class="sl-item">
						<div class="sl-content">
							<div class="text-muted-dk">@item.ProductName</div>
							<p>Stok Durumu: @item.StockQuantity <a href="/Product/UpdateProduct/@item.ProductId" class="text-info"> - Stok Seviyesini Artır.</a></p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
