<ul class="nav navbar-nav navbar-left">
    <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
    <li><a href="/Message/MessageList" class="inbox-btn hidden-sm-down" data-close="true"><i class="zmdi zmdi-email"></i></a></li>
    <li class="dropdown menu-app hidden-sm-down">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"> <i class="zmdi zmdi-apps"></i> </a>
        <ul class="dropdown-menu slideDown">
            <li class="body">
                <ul class="menu">
                    <li><a href="/Statistics/NumericStatistics"><i class="zmdi zmdi-chart-donut"></i><span>İstatistikler</span></a></li>
                    <li><a href="/Order/OrderList"><i class="zmdi zmdi-amazon"></i><span>Siparişler</span></a></li>
                    <li><a href="/Customer/CustomerList"><i class="zmdi zmdi-accounts-outline"></i><span>Müşteriler</span></a></li>
                    <li><a href="/Forecast/PaymentMethodForecast"><i class="zmdi zmdi-money"></i><span>Ödemeler</span></a></li>
                    <li><a href="/Product/ProductList"><i class="zmdi zmdi-globe"></i><span>Ürünler</span></a></li>
                    <li><a href="/Order/AddOrder"><i class="zmdi zmdi-store"></i><span>Yeni Sipariş</span></a></li>
                </ul>
            </li>
        </ul>
    </li>

</ul>
