<div class="page-loader-wrapper">
    <div class="loader">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <p>Lütfen bekleyin...</p>
        <div class="m-t-30"><img src="~/assets/images/logo.svg" width="48" height="48" alt="Nexa"></div>
    </div>
</div>

<div class="overlay"></div>
<div class="search-bar">
    <div class="search-icon"> <i class="material-icons">search</i> </div>
    <input type="text" placeholder="Aranacak kelimeleri giriniz...">
    <div class="close-search"> <i class="material-icons">close</i> </div>
</div>

