<div class="profile-sub-header">
						<div class="box-list">
							<ul class="text-center">
								<li><a href="mail-inbox.html" class=""><i class="zmdi zmdi-email"></i><p>Siparişler</p></a></li>
								<li><a href="image-gallery.html" class=""><i class="zmdi zmdi-camera"></i><p>Değerlendirmeler</p></a></li>
								<li><a href="javascript:void(0);"><i class="zmdi zmdi-attachment"></i><p>AI Analizi</p></a></li>
								<li><a href="events.html"><i class="zmdi zmdi-format-subject"></i><p>Profil Bilgisi</p></a></li>
							</ul>
						</div>
					</div>