<div class="row clearfix">
    <div class="col-lg-8 col-md-12">

        @await Component.InvokeAsync("_CustomerAnalyticsOnChartSegmentationComponentPartial")

        <div class="card">
            <ul class="row profile_state list-unstyled">
                <li class="col-lg-3 col-md-3 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-eye col-amber"></i>
                        <h4>2,365</h4>
                        <span>Post View</span>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-thumb-up col-blue"></i>
                        <h4>365</h4>
                        <span>Likes</span>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-comment-text col-red"></i>
                        <h4>65</h4>
                        <span>Comments</span>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-6">
                    <div class="body">
                        <i class="zmdi zmdi-account text-success"></i>
                        <h4>2,055</h4>
                        <span>Profile Views</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    @await Component.InvokeAsync("_CustomerAnalyticsCityStatisticsComponentPartial")

</div>