<div class="row clearfix">
    <div class="col-lg-8 col-md-12">

        @await Component.InvokeAsync("_CustomerAnalyticsOnChartSegmentationComponentPartial")

        @await Component.InvokeAsync("_CustomerAnalyticsSubstatisticsComponentPartial")

    </div>

    @await Component.InvokeAsync("_CustomerAnalyticsCityStatisticsComponentPartial")

</div>