@{
	ViewData["Title"] = "CustomerInsights";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content profile-page">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-sm-12">
				<div class="card overflowhidden m-t-20">

					@await Component.InvokeAsync("_SentimentAnalysisMainCoverTableComponentPartial")

					@await Component.InvokeAsync("_SentimentAnalysisSubHeaderComponentPartial")

				</div>

				@await Component.InvokeAsync("_SentimentAnalysisStatisticsComponentPartial")

			</div>
		</div>

		@await Component.InvokeAsync("_SentimentAnalysisAIAnalysisByLastOrdersComponentPartial")

	</div>
</section>
