
@{
    Layout = null;
}


<!doctype html>
<html class="no-js " lang="en">

<!-- Head kısmı -->
@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body class="theme-orange">
    <!-- Page Loader kısmı ve Overlay for Sidebars kısmı -->
	@await Component.InvokeAsync("_AdminLayoutPageLoaderComponentPartial")

    <!-- Navbar'ın hepsi buradadır. Geri kalan ViewComponentler, Default'un içerisinde bölünecektir.' -->
	@await Component.InvokeAsync("_AdminLayoutNavbarComponentPartial")

    <!-- Sidebar'ın hepsi buradadır. Geri kalan ViewComponentler, Default'un içerisinde bölünecektir.' -->
    @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

    <br>
    @RenderBody()
    
    <!-- Jquery Core Js kısımları buradadır. -->
    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
</body>
</html>
